<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="nav-link active"
    routerLinkActive="activatebutton" [routerLink]="['/','basic','admin','admin','hause-renting']">House renting</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li>
          <a routerLink="">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
          routerLinkActive="activatebutton" routerLink="/basic/admin/admin/users/users/users-list">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
          routerLinkActive="activatebutton" routerLink="/basic/admin/admin/roomer">Roomer</a>
        </li>
      </ul>
    </div>
  </div>
</nav> 
<!--  routerLink="/basic/admin/admin/role" -->

<router-outlet></router-outlet>