
body {
    margin: 0;
}
 
.fluids{
    width: 100%;
}
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 16%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 1px;
    text-decoration: none;
    font-size: 23px;
  }
  
  li a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: black;
  }

  /* ul{
    overflow: hidden;
  } */

  .form-inline button{
    padding: 6px 83px;
  }
  
  .header-horizontal{
    padding: 3px 2px;
    background-color: #84bbf3;
    display: flex;
    justify-content: space-between;
  }

  .header-horizontal button{
    /*  */
  }
  
  
.container{
  background-color: white;
}

.imgs{
  width: 75%;
  margin-left: 10%;
}

.disabled-link {
  color: black;
  text-decoration: none;
}