<div class="container">
  <div class="row pt-5">
    <div class="col-md-4">
      <div class="card">
          <img class="card-img-top imgs" src="./assets/img6.jpg" alt="Card image">
        <!-- <a class="disabled-link"
          routerLinkActive="activatebutton" routerLink="/basic/admin/admin/users/users/users-list"> -->
          <div class="card-body">
            <h5 class="card-title">User</h5>
            <p class="card-text">This is the content of card 1.</p>
          </div>
        <!-- </a> -->
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <!-- <a class="disabled-link"
          routerLinkActive="activatebutton" [routerLink]="['/','basic','admin','admin','hause-renting']"> -->
          <img class="card-img-top" src="./assets/img2.jpg" alt="Card image">
          
          <div class="card-body">
            <h5 class="card-title">Hause</h5>
            <p class="card-text">This is the content of card 2.</p>
          </div>
        <!-- </a> -->
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <!-- <a class="disabled-link"
          routerLinkActive="activatebutton" routerLink="/basic/admin/admin/roomer"> -->
          <img class="card-img-top" src="./assets/img4.jpg" alt="Card image">
          <div class="card-body">
            <h5 class="card-title">Roomer</h5>
            <p class="card-text">This is the content of card 3.</p>
          </div>
        <!-- </a> -->
      </div>
    </div>
  </div>
</div>